@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #07abc8;
  --secundary-color: #cc4799;
  --tertiary-color: #58ec2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;

  font-family: 'Roboto', sans-serif;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
